<%- include("partials/header"); -%>
<div class="dev">

<h1>About the Developer</h1>

<div class="card mycard" style="width: 20rem;">
  <img class="card-img-top pic" src="photos/pic.JPG" alt="">
  <div class="card-block">
    <p class="card-text">A Computer engineering student, 20 years old, trying to be a geek as much as I can.</p>
    <a href="https://www.linkedin.com/in/amr-fahmyxf/" class="btn btn-primary">Go Linked in</a>
    <a href="https://github.com/amrfahmyy" class="btn btn-dark">Go Github</a>
  </div>
</div>
</div>
<%- include("partials/footer"); -%>
