<%- include("partials/header"); -%>
<div class="dev">

<h1>About the Developer</h1>

<div class="card mycard" style="width: 20rem;">
  <img class="card-img-top pic" src="photos/pic.JPG" alt="">
  <div class="card-block">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://www.linkedin.com/in/amr-fahmyxf/" class="btn btn-primary">Go Linked in</a>
    <a href="https://github.com/amrfahmyy" class="btn btn-default">Go Github</a>
  </div>
</div>
</div>
<%- include("partials/footer"); -%>
